.entry {
  font-family: STFangsong;
  font-size: 45px;
}
.zh_text {
  font-family: "LiSong Pro", STSong;
  font-size: 24px;
}
.invisible {
  visibility: hidden;
}
.latent {
  display: none;
}
body {
  background-color: #EDF2C3;
  font-family: "Lucida Grande","Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
#container {
  max-width: 420px;
  margin: auto;
  padding-top: 40px;
}
.right {
  position: relative;
  left: 300px;
}
.middle {
  text-align: center;
}
